{% extends 'layout' %}
{% from 'components/message' import message as message %}

{% block bodyclass %}petition rp{% endblock %}

{% block content %}
  <div class="container">
    <div class="row mt-4 mt-md-5 mx-1">
      {{ message("MoveOn volunteers reviewed this petition and determined that it either may not reflect MoveOn members' progressive values, or that MoveOn members may disagree about whether to support this petition.<br/><br/>MoveOn will not promote the petition beyond hosting it on our site. <a href='#'>Click here if you think MoveOn should support this petition.</a>", "red", "", true) }}
      {{ message("MoveOn has not yet reviewed this petition. If you agree with it, please sign it!", "orange", "<a href='#'>flag the petition</a>", true) }}
      {{ message("This petition has not been edited in a while. As a new legislative session has begun, it’s possible some of the targets of this petition are out of date.", "orange", "", true) }}
      {{ message("We've forwarded you to this trending petition. To return to your previous action, use your browser's back button.", "gray", "", true) }}
      {{ message("Victory! The creator of this petition declared the campaign a success. You can still sign the petition to show support.", "azure", "", true) }}
      <div class="col-12 col-lg-8 petition-info-column">
        <div class="justify-content-center row">

          {% include 'components/petition-card' %}

          <div class='petition-sign-inline col-10 mt-5'>
            {% include 'components/sign-form' %}
          </div>

          {% include 'components/petition-details' %}
        </div>
      </div>
      <div class="col-lg-3 offset-lg-1 petition-sign-column mt-4">
        <div>
          {% include 'components/sign-form' %}
        </div>
      </div>
    </div>
  </div>
  <button class="sign-form__fixed-button">Sign Now</button>
{% endblock %}
