{% set path = '../' %}
{% set markup = { blocks: ['markup']} %}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">                <meta charset="utf-8">
        <title>{% block title %}Move On Styleguide{% endblock %}</title>
        <link rel="stylesheet" href="../styles/vendors.css" />
        <link rel="stylesheet" href="../styles/main.css" />
        <link rel="stylesheet" href="../styles/styleguide.css" />
    </head>
    <body class="giraffe {% block bodyclass %}styleguide {% endblock %}">
        <div style="display:none">{% include 'components/symbol/svg/sprite.symbol.svg' %}</div>
        <div class="wrapper">

          {% include 'styleguide/header' %}

          <div class="stylguide-content">

            <h1 class="styleguide-block__heading">Logos</h1>
            <p><a href="http://brand.moveon.org/logo">http://brand.moveon.org/logo</a>
            </p>
            <div class="styleguide-block__content">
              <p><img width="500" src="{{path}}images/logo.svg" />
              <p><img width="500" src="{{path}}images/logo-black.svg" />
              <p><img width="500" src="{{path}}images/logo-shadow.png" />
              <p><img width="500" src="{{path}}images/logo-reverse-blue.svg" />

            </div>

            <h2 class="styleguide-block__heading">Error messages</h2>
            <div class="styleguide-block__content">
              <p><img width="600" src="{{path}}images/error404.svg" />
              <p><img width="600" src="{{path}}images/error500.svg" />
            </div>

          </div>

        </div>

        <script src="{{path}}scripts/vendors.js"></script>
        <script src="{{path}}scripts/app.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </body>
</html>
